.text-decorator-none{
    text-decoration: none;
}

.box2{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        min-height: 100vh;
        padding-left: 250px;
        padding-right: 250px;
    }

.colorBotaoT2{

    border-color: white !important;
    background-color: #ff1493 !important;
    color: white !important ;
    }

.colorBotaoT1{

        border-color: white !important;
        background-color: #1c311f !important;
        color: white !important ;
        }